# Project: Investigate The Movie Database (TMDb) Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.
>
>

In [1]:
import pandas as pd
import datetime as dt
import locale
locale.setlocale(locale.LC_ALL, '')     #set python local to the system (UK in my case)
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
tmdb = pd.read_csv("tmdb-movies.csv")       #load data
print tmdb.iloc[0]                          #print column names and first row (0)
tmdb.head                                   #output the start and end of the data

id                                                                 135397
imdb_id                                                         tt0369610
popularity                                                        32.9858
budget                                                          150000000
revenue                                                        1513528810
original_title                                             Jurassic World
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
homepage                                    http://www.jurassicworld.com/
director                                                  Colin Trevorrow
tagline                                                 The park is open.
keywords                monster|dna|tyrannosaurus rex|velociraptor|island
overview                Twenty-two years after the events of Jurassic ...
runtime                                                               124
genres                          Action|Adventure|Science Fiction|Thriller
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date                                                       6/9/15
vote_count                                                           5562
vote_average                                                          6.5
release_year                                                         2015
budget_adj                                                       1.38e+08
revenue_adj                                                   1.39245e+09
Name: 0, dtype: object

<bound method DataFrame.head of            id    imdb_id  popularity     budget     revenue  \
0      135397  tt0369610   32.985763  150000000  1513528810
1       76341  tt1392190   28.419936  150000000   378436354
2      262500  tt2908446   13.112507  110000000   295238201
3      140607  tt2488496   11.173104  200000000  2068178225
4      168259  tt2820852    9.335014  190000000  1506249360
5      281957  tt1663202    9.110700  135000000   532950503
6       87101  tt1340138    8.654359  155000000   440603537
7      286217  tt3659388    7.667400  108000000   595380321
8      211672  tt2293640    7.404165   74000000  1156730962
9      150540  tt2096673    6.326804  175000000   853708609
10     206647  tt2379713    6.200282  245000000   880674609
11      76757  tt1617661    6.189369  176000003   183987723
12     264660  tt0470752    6.118847   15000000    36869414
13     257344  tt2120120    5.984995   88000000   243637091
14      99861  tt2395427    5.944927  280000000  1405035767
15     273248  tt3460252    5.898400   44000000   155760117
16     260346  tt2446042    5.749758   48000000   325771424
17     102899  tt0478970    5.573184  130000000   518602163
18     150689  tt1661199    5.556818   95000000   542351353
19     131634  tt1951266    5.476958  160000000   650523427
20     158852  tt1964418    5.462138  190000000   209035668
21     307081  tt1798684    5.337064   30000000    91709827
22     254128  tt2126355    4.907832  110000000   470490832
23     216015  tt2322441    4.710402   40000000   569651467
24     318846  tt1596363    4.648046   28000000   133346506
25     177677  tt2381249    4.566713  150000000   682330139
26     214756  tt2637276    4.564549   68000000   215863606
27     207703  tt2802144    4.503789   81000000   403802136
28     314365  tt1895587    4.062293   20000000    88346473
29     294254  tt4046784    3.968891   61000000   311256926
...       ...        ...         ...        ...         ...
10836   38720  tt0061170    0.239435          0           0
10837   19728  tt0060177    0.291704          0           0
10838   22383  tt0060862    0.151845          0           0
10839   13353  tt0060550    0.276133          0           0
10840   34388  tt0060437    0.102530          0           0
10841   42701  tt0062262    0.264925      75000           0
10842   36540  tt0061199    0.253437          0           0
10843   29710  tt0060588    0.252399          0           0
10844   23728  tt0059557    0.236098          0           0
10845    5065  tt0059014    0.230873          0           0
10846   17102  tt0059127    0.212716          0           0
10847   28763  tt0060548    0.034555          0           0
10848    2161  tt0060397    0.207257    5115000    12000000
10849   28270  tt0060445    0.206537          0           0
10850   26268  tt0060490    0.202473          0           0
10851   15347  tt0060182    0.342791          0           0
10852   37301  tt0060165    0.227220          0           0
10853   15598  tt0060086    0.163592          0           0
10854   31602  tt0060232    0.146402          0           0
10855   13343  tt0059221    0.141026     700000           0
10856   20277  tt0061135    0.140934          0           0
10857    5921  tt0060748    0.131378          0           0
10858   31918  tt0060921    0.317824          0           0
10859   20620  tt0060955    0.089072          0           0
10860    5060  tt0060214    0.087034          0           0
10861      21  tt0060371    0.080598          0           0
10862   20379  tt0060472    0.065543          0           0
10863   39768  tt0060161    0.065141          0           0
10864   21449  tt0061177    0.064317          0           0
10865   22293  tt0060666    0.035919      19000           0

                                         original_title  \
0                                        Jurassic World
1                                    Mad Max: Fury Road
2                                             Insurgent
3                          Star Wars: The Force Awakens
4                                             Furious 7
5                                          The Revenant
6                                    Terminator Genisys
7                                           The Martian
8                                               Minions
9                                            Inside Out
10                                              Spectre
11                                    Jupiter Ascending
12                                           Ex Machina
13                                               Pixels
14                              Avengers: Age of Ultron
15                                    The Hateful Eight
16                                              Taken 3
17                                              Ant-Man
18                                           Cinderella
19                The Hunger Games: Mockingjay - Part 2
20                                         Tomorrowland
21                                             Southpaw
22                                          San Andreas
23                                 Fifty Shades of Grey
24                                        The Big Short
25                   Mission: Impossible - Rogue Nation
26                                                Ted 2
27                         Kingsman: The Secret Service
28                                            Spotlight
29                       Maze Runner: The Scorch Trials
...                                                 ...
10836                                    Walk Don't Run
10837                                      The Blue Max
10838                                 The Professionals
10839             It's the Great Pumpkin, Charlie Brown
10840                                 Funeral in Berlin
10841                                      The Shooting
10842                Winnie the Pooh and the Honey Tree
10843                                          Khartoum
10844                                     Our Man Flint
10845                                   Carry On Cowboy
10846                       Dracula: Prince of Darkness
10847                                  Island of Terror
10848                                  Fantastic Voyage
10849                                            Gambit
10850                                            Harper
10851                                         Born Free
10852                    A Big Hand for the Little Lady
10853                                             Alfie
10854                                         The Chase
10855                           The Ghost & Mr. Chicken
10856                                The Ugly Dachshund
10857                                      Nevada Smith
10858  The Russians Are Coming, The Russians Are Coming
10859                                           Seconds
10860                               Carry On Screaming!
10861                                The Endless Summer
10862                                        Grand Prix
10863                               Beregis Avtomobilya
10864                            What's Up, Tiger Lily?
10865                          Manos: The Hands of Fate

                                                    cast  \
0      Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1      Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2      Shailene Woodley|Theo James|Kate Winslet|Ansel...
3      Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4      Vin Diesel|Paul Walker|Jason Statham|Michelle ...
5      Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...
6      Arnold Schwarzenegger|Jason Clarke|Emilia Clar...
7      Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...
8      Sandra Bullock|Jon Hamm|Michael Keaton|Allison...
9      Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...
10     Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...
11     Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...
12     Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...
13     Adam Sandler|Michelle Monaghan|Peter Dinklage|...
14     Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...
15     Samuel L. Jackson|Kurt Russell|Jennifer Jason ...
16     Liam Neeson|Forest Whitaker|Maggie Grace|Famke...
17     Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...
18     Lily James|Cate Blanchett|Richard Madden|Helen...
19     Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...
20     Britt Robertson|George Clooney|Raffey Cassidy|...
21     Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...
22     Dwayne Johnson|Alexandra Daddario|Carla Gugino...
23     Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...
24     Christian Bale|Steve Carell|Ryan Gosling|Brad ...
25     Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...
26     Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...
27     Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...
28     Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...
29     Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...
...                                                  ...
10836  Cary Grant|Samantha Eggar|Jim Hutton|John Stan...
10837  George Peppard|James Mason|Ursula Andress|Jere...
10838  Burt Lancaster|Lee Marvin|Robert Ryan|Woody St...
10839  Christopher Shea|Sally Dryer|Kathy Steinberg|A...
10840  Michael Caine|Paul Hubschmid|Oskar Homolka|Eva...
10841  Will Hutchins|Millie Perkins|Jack Nicholson|Wa...
10842  Sterling Holloway|Junius Matthews|Sebastian Ca...
10843  Charlton Heston|Laurence Olivier|Richard Johns...
10844  James Coburn|Lee J. Cobb|Gila Golan|Edward Mul...
10845  Sid James|Jim Dale|Angela Douglas|Kenneth Will...
10846  Christopher Lee|Barbara Shelley|Andrew Keir|Fr...
10847  Peter Cushing|Edward Judd|Carole Gray|Eddie By...
10848  Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...
10849  Michael Caine|Shirley MacLaine|Herbert Lom|Joh...
10850  Paul Newman|Lauren Bacall|Julie Harris|Arthur ...
10851  Virginia McKenna|Bill Travers|Geoffrey Keen|Pe...
10852  Henry Fonda|Joanne Woodward|Jason Robards|Paul...
10853  Michael Caine|Shelley Winters|Millicent Martin...
10854  Marlon Brando|Jane Fonda|Robert Redford|E.G. M...
10855  Don Knotts|Joan Staley|Liam Redmond|Dick Sarge...
10856  Dean Jones|Suzanne Pleshette|Charles Ruggles|K...
10857  Steve McQueen|Karl Malden|Brian Keith|Arthur K...
10858  Carl Reiner|Eva Marie Saint|Alan Arkin|Brian K...
10859  Rock Hudson|Salome Jens|John Randolph|Will Gee...
10860  Kenneth Williams|Jim Dale|Harry H. Corbett|Joa...
10861  Michael Hynson|Robert August|Lord 'Tally Ho' B...
10862  James Garner|Eva Marie Saint|Yves Montand|Tosh...
10863  Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...
10864  Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...
10865  Harold P. Warren|Tom Neyman|John Reynolds|Dian...

                                                homepage  \
0                          http://www.jurassicworld.com/
1                            http://www.madmaxmovie.com/
2         http://www.thedivergentseries.movie/#insurgent
3      http://www.starwars.com/films/star-wars-episod...
4                               http://www.furious7.com/
5           http://www.foxmovies.com/movies/the-revenant
6                        http://www.terminatormovie.com/
7            http://www.foxmovies.com/movies/the-martian
8                           http://www.minionsmovie.com/
9                    http://movies.disney.com/inside-out
10           http://www.sonypictures.com/movies/spectre/
11                       http://www.jupiterascending.com
12                           http://exmachina-movie.com/
13                          http://www.pixels-movie.com/
14     http://marvel.com/movies/movie/193/avengers_ag...
15                           http://thehatefuleight.com/
16                           http://www.taken3movie.com/
17            http://marvel.com/movies/movie/180/ant-man
18                                                   NaN
19                      http://www.thehungergames.movie/
20                 http://movies.disney.com/tomorrowland
21                                                   NaN
22                       http://www.sanandreasmovie.com/
23       https://www.facebook.com/fiftyshadesofgreymovie
24                      http://www.thebigshortmovie.com/
25                      http://www.missionimpossible.com
26                                                   NaN
27                         http://www.kingsmanmovie.com/
28                       http://www.spotlightthefilm.com
29                           http://mazerunnermovies.com
...                                                  ...
10836                                                NaN
10837                                                NaN
10838                                                NaN
10839                                                NaN
10840                                                NaN
10841                                                NaN
10842                                                NaN
10843                                                NaN
10844                                                NaN
10845                                                NaN
10846                                                NaN
10847                                                NaN
10848                                                NaN
10849                                                NaN
10850                                                NaN
10851                                                NaN
10852                                                NaN
10853                                                NaN
10854                                                NaN
10855                                                NaN
10856                                                NaN
10857                                                NaN
10858                                                NaN
10859                                                NaN
10860                                                NaN
10861                                                NaN
10862                                                NaN
10863                                                NaN
10864                                                NaN
10865                                                NaN

                             director  \
0                     Colin Trevorrow
1                       George Miller
2                    Robert Schwentke
3                         J.J. Abrams
4                           James Wan
5      Alejandro GonzÃ¡lez IÃ±Ã¡rritu
6                         Alan Taylor
7                        Ridley Scott
8            Kyle Balda|Pierre Coffin
9                         Pete Docter
10                         Sam Mendes
11     Lana Wachowski|Lilly Wachowski
12                       Alex Garland
13                     Chris Columbus
14                        Joss Whedon
15                  Quentin Tarantino
16                    Olivier Megaton
17                        Peyton Reed
18                    Kenneth Branagh
19                   Francis Lawrence
20                          Brad Bird
21                      Antoine Fuqua
22                        Brad Peyton
23                 Sam Taylor-Johnson
24                         Adam McKay
25              Christopher McQuarrie
26                    Seth MacFarlane
27                     Matthew Vaughn
28                       Tom McCarthy
29                           Wes Ball
...                               ...
10836                 Charles Walters
10837                 John Guillermin
10838                  Richard Brooks
10839                   Bill Melendez
10840                    Guy Hamilton
10841                   Monte Hellman
10842             Wolfgang Reitherman
10843    Basil Dearden|Eliot Elisofon
10844                     Daniel Mann
10845                   Gerald Thomas
10846                  Terence Fisher
10847                  Terence Fisher
10848               Richard Fleischer
10849                    Ronald Neame
10850                     Jack Smight
10851                      James Hill
10852                    Fielder Cook
10853                   Lewis Gilbert
10854                     Arthur Penn
10855                     Alan Rafkin
10856                    Norman Tokar
10857                  Henry Hathaway
10858                  Norman Jewison
10859              John Frankenheimer
10860                   Gerald Thomas
10861                     Bruce Brown
10862              John Frankenheimer
10863                  Eldar Ryazanov
10864                     Woody Allen
10865                Harold P. Warren

                                                 tagline      ...       \
0                                      The park is open.      ...
1                                     What a Lovely Day.      ...
2                             One Choice Can Destroy You      ...
3                          Every generation has a story.      ...
4                                    Vengeance Hits Home      ...
5        (n. One who has returned, as if from the dead.)      ...
6                                       Reset the future      ...
7                                         Bring Him Home      ...
8           Before Gru, they had a history of bad bosses      ...
9               Meet the little voices inside your head.      ...
10                                 A Plan No One Escapes      ...
11                                 Expand your universe.      ...
12     There is nothing more human than the will to s...      ...
13                                              Game On.      ...
14                                   A New Age Has Come.      ...
15      No one comes up here without a damn good reason.      ...
16                                          It Ends Here      ...
17                           Heroes Don't Get Any Bigger      ...
18                       Midnight is just the beginning.      ...
19                           The fire will burn forever.      ...
20          Imagine a world where nothing is impossible.      ...
21                                      Believe in Hope.      ...
22     A rescue pilot survived an earthquake, this is...      ...
23                                      Are you curious?      ...
24                                 This is a true story.      ...
25                  Desperate Times. Desperate Measures.      ...
26                                 Ted is Coming, Again.      ...
27                                   Manners maketh man.      ...
28                   Break the story. Break the silence.      ...
29                      The Maze Was Just the Beginning.      ...
...                                                  ...      ...
10836            Run, don't walk to see Walk, Don't Run.      ...
10837           There was no quiet on the Western Front!      ...
10838                            Rough, tough and ready.      ...
10839      Every year he rises from the pumpkin patch...      ...
10840                                                NaN      ...
10841  Suspenseful desert pursuit in the "High Noon" ...      ...
10842                                                NaN      ...
10843  Where the Nile divides, the great Cinerama adv...      ...
10844                       The ORIGINAL man of mystery!      ...
10845                             How the west was lost!      ...
10846  DEAD for Ten Years DRACULA, Prince of Darkness...      ...
10847  How could they stop the devouring death...that...      ...
10848  A Fantastic and Spectacular Voyage... Through ...      ...
10849             Shirley MacLaine raises Michael Caine!      ...
10850    Harper takes a case - and the payoff is murder.      ...
10851  From The Pages Of The Beloved Best Seller... A...      ...
10852  All the action you can take...all the adventur...      ...
10853                 Is any man an Alfie? Ask any girl!      ...

>Looking at the '.head' data, it can be seen that the budget and revenue data is missing for older films, but as this data may be usefull, it is worth keeping the data series.
>The homepage, tagline, keywords and overview columns are long columns which are unlikely to provide usable data, so I plan to drop these to make the table easier to read. I am also unlikely to use the imdb_id column, so this will also be dropped.
>
>Note - Only run this cell once, otherwise you will get an error as it tries to delete the columns again.

In [3]:
del tmdb['homepage']
del tmdb['tagline']
del tmdb['keywords']
del tmdb['overview']
del tmdb['imdb_id']
print tmdb.iloc[0]                          #print column names and first row (0)

id                                                                 135397
popularity                                                        32.9858
budget                                                          150000000
revenue                                                        1513528810
original_title                                             Jurassic World
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                                                  Colin Trevorrow
runtime                                                               124
genres                          Action|Adventure|Science Fiction|Thriller
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date                                                       6/9/15
vote_count                                                           5562
vote_average                                                          6.5
release_year                                                         2015
budget_adj                                                       1.38e+08
revenue_adj                                                   1.39245e+09
Name: 0, dtype: object

>The cast, genres and production_companies look like interesting datasets to probe, so I am going to add total counts of the data in these columns to 3 new columns.
>First of all I need to check for any empty series, as I will be adding 1 to the count of '|' characters, which will only be present when there is more that one item.

In [4]:
print len(tmdb['cast'])
print len(tmdb['genres'])
print len(tmdb['production_companies'])

10866
10866
10866

>Then count for the separators and add one for the count of items in the series.
>
>Note - Only run this cell once, otherwise you will get an error as it tries to create the columns again.

In [5]:
tmdb['cast_count'] = (tmdb['cast'].str.count('\|')) + 1
tmdb['genre_count'] = (tmdb['genres'].str.count('\|')) + 1
tmdb['companies_count'] = (tmdb['production_companies'].str.count('\|')) + 1

>Again print the first dataset and the '.desribe' statistics for the dataset.

In [7]:
print tmdb.iloc[0]
print tmdb['release_date'].iloc[0]
tmdb.describe()
print tmdb.dtypes

id                                                                 135397
popularity                                                        32.9858
budget                                                          150000000
revenue                                                        1513528810
original_title                                             Jurassic World
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                                                  Colin Trevorrow
runtime                                                               124
genres                          Action|Adventure|Science Fiction|Thriller
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date                                                       6/9/15
vote_count                                                           5562
vote_average                                                          6.5
release_year                                                         2015
budget_adj                                                       1.38e+08
revenue_adj                                                   1.39245e+09
cast_count                                                              5
genre_count                                                             4
companies_count                                                         5
Name: 0, dtype: object
6/9/15
id                        int64
popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
director                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
budget_adj              float64
revenue_adj             float64
cast_count              float64
genre_count             float64
companies_count         float64
dtype: object

Now change the data types in the data frame, from all strings, to integers, floats and dates.

In [6]:
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

tmdb['budget_adj'] = tmdb['budget_adj'].apply(parse_maybe_int)
tmdb['revenue_adj'] = tmdb['revenue_adj'].apply(parse_maybe_int)

print tmdb['budget_adj'].head
print tmdb['revenue_adj'].head

<bound method Series.head of 0        137999939
1        137999939
2        101199955
3        183999919
4        174799923
5        124199945
6        142599937
7         99359956
8         68079970
9        160999929
10       225399900
11       161919931
12        13799993
13        80959964
14       257599886
15        40479982
16        44159980
17       119599947
18        87399961
19       147199935
20       174799923
21        27599987
22       101199955
23        36799983
24        25759988
25       137999939
26        62559972
27        74519967
28        18399991
29        56119975
           ...
10836            0
10837            0
10838            0
10839            0
10840            0
10841       503851
10842            0
10843            0
10844            0
10845            0
10846            0
10847            0
10848     34362645
10849            0
10850            0
10851            0
10852            0
10853            0
10854            0
10855      4702610
10856            0
10857            0
10858            0
10859            0
10860            0
10861            0
10862            0
10863            0
10864            0
10865       127642
Name: budget_adj, Length: 10866, dtype: int64>
<bound method Series.head of 0        1392445892
1         348161292
2         271619025
3        1902723129
4        1385748801
5         490314247
6         405355075
7         547749654
8        1064192016
9         785411574
10        810220283
11        169268630
12         33919845
13        224146025
14       1292632336
15        143299244
16        299709578
17        477113780
18        498963025
19        598481289
20        192312729
21         84373003
22        432851374
23        524079119
24        122678731
25        627743451
26        198594430
27        371497801
28         81278719
29        286356245
            ...
10836             0
10837             0
10838             0
10839             0
10840             0
10841             0
10842             0
10843             0
10844             0
10845             0
10846             0
10847             0
10848      80616176
10849             0
10850             0
10851             0
10852             0
10853             0
10854             0
10855             0
10856             0
10857             0
10858             0
10859             0
10860             0
10861             0
10862             0
10863             0
10864             0
10865             0
Name: revenue_adj, Length: 10866, dtype: int64>

Note the dates are in US format - months/days/years
Default 2digit dates for 19xx are from 1969, so we will need to change the dates before 1969, from 2066, 2067 & 2068 to 1966, 1967 & 1968 respectively. As the dates are in the range 1966 to 2015, I know all dates after 2015 should infact begin with 19xx, so I will subtract 100 years off of all dates with a date greater than today (2018).

In [7]:
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.datetime.strptime(date, '%m/%d/%y')
    
def parse_pre69(date1):
    if date1.year > 2018:
        return date1.replace(year=date1.year-100)
    else:
        return date1

tmdb['release_date'] = tmdb['release_date'].apply(parse_date)
tmdb['release_date'] = tmdb['release_date'].apply(parse_pre69)
 
print tmdb['release_date'].head
print tmdb['release_year'].head

<bound method Series.head of 0       2015-06-09
1       2015-05-13
2       2015-03-18
3       2015-12-15
4       2015-04-01
5       2015-12-25
6       2015-06-23
7       2015-09-30
8       2015-06-17
9       2015-06-09
10      2015-10-26
11      2015-02-04
12      2015-01-21
13      2015-07-16
14      2015-04-22
15      2015-12-25
16      2015-01-01
17      2015-07-14
18      2015-03-12
19      2015-11-18
20      2015-05-19
21      2015-06-15
22      2015-05-27
23      2015-02-11
24      2015-12-11
25      2015-07-23
26      2015-06-25
27      2015-01-24
28      2015-11-06
29      2015-09-09
           ...
10836   1966-01-01
10837   1966-06-21
10838   1966-11-01
10839   1966-10-27
10840   1966-12-22
10841   1966-10-23
10842   1966-01-01
10843   1966-06-09
10844   1966-01-16
10845   1966-03-01
10846   1966-01-09
10847   1966-06-20
10848   1966-08-24
10849   1966-12-16
10850   1966-02-23
10851   1966-06-22
10852   1966-05-31
10853   1966-03-29
10854   1966-02-17
10855   1966-01-20
10856   1966-02-16
10857   1966-06-10
10858   1966-05-25
10859   1966-10-05
10860   1966-05-20
10861   1966-06-15
10862   1966-12-21
10863   1966-01-01
10864   1966-11-02
10865   1966-11-15
Name: release_date, Length: 10866, dtype: datetime64[ns]>
<bound method Series.head of 0        2015
1        2015
2        2015
3        2015
4        2015
5        2015
6        2015
7        2015
8        2015
9        2015
10       2015
11       2015
12       2015
13       2015
14       2015
15       2015
16       2015
17       2015
18       2015
19       2015
20       2015
21       2015
22       2015
23       2015
24       2015
25       2015
26       2015
27       2015
28       2015
29       2015
         ...
10836    1966
10837    1966
10838    1966
10839    1966
10840    1966
10841    1966
10842    1966
10843    1966
10844    1966
10845    1966
10846    1966
10847    1966
10848    1966
10849    1966
10850    1966
10851    1966
10852    1966
10853    1966
10854    1966
10855    1966
10856    1966
10857    1966
10858    1966
10859    1966
10860    1966
10861    1966
10862    1966
10863    1966
10864    1966
10865    1966
Name: release_year, Length: 10866, dtype: int64>

In [8]:
print tmdb.dtypes
tmdb.describe()

id                               int64
popularity                     float64
budget                           int64
revenue                          int64
original_title                  object
cast                            object
director                        object
runtime                          int64
genres                          object
production_companies            object
release_date            datetime64[ns]
vote_count                       int64
vote_average                   float64
release_year                     int64
budget_adj                       int64
revenue_adj                      int64
cast_count                     float64
genre_count                    float64
companies_count                float64
dtype: object

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj,cast_count,genre_count,companies_count
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10790.000000,10843.000000,9836.000000
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07,4.872382,2.486397,2.361427
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08,0.584604,1.115649,1.343804
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00,1.000000,1.000000,1.000000
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00,5.000000,2.000000,1.000000
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00,5.000000,2.000000,2.000000
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07,5.000000,3.000000,3.000000
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09,5.000000,5.000000,5.000000





> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

As movie stars progress in their career, they normally take on more major parts in big films. I plan to see if there is an increase in the budget of the films over the top stars careers. With the number of actors for each film restrcted to 5, parts of an actors career will not show in the statistics. I will need to compare this first to the inflation adjusted budget of the film, and then also the takings of the film, as a high takings to budget ratio may show when an actor has made the film more money, which then enabled then to claim a higher wage.

First of all I will separate all of the actors out into a separate data frame, to see who the top 20 actors are.
### Research Question 1 (Replace this header name!)

In [46]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.
actors = tmdb['cast'].str.split('|', expand=True).rename(columns = lambda x:"actor")
# print tmdb.iloc[0]
# actors.name = ['Actors']
#tmdb.join(actors)

ActorsDF = pd.DataFrame(actors)
#print ActorsDF.iloc[0]
#Actors1 = pd.DataFrame(ActorsDF['actor1'])
#Actors2 = pd.DataFrame(ActorsDF['actor2'])
#Actors3 = pd.DataFrame(ActorsDF['actor3'])
#Actors4 = pd.DataFrame(ActorsDF['actor4'])
#Actors5 = pd.DataFrame(ActorsDF['actor5'])

#Actors1.name = 'actor'


Actors0 = pd.DataFrame(ActorsDF['actor'])

#print ActorsDF.head
#print Actors2.head
#Actors0 = pd.concat([Actors1,Actors2,Actors3,Actors4,Actors5], axis=0)
print Actors0.head

<bound method DataFrame.head of                           actor                actor                   actor  \
0                   Chris Pratt  Bryce Dallas Howard             Irrfan Khan
1                     Tom Hardy      Charlize Theron        Hugh Keays-Byrne
2              Shailene Woodley           Theo James            Kate Winslet
3                 Harrison Ford          Mark Hamill           Carrie Fisher
4                    Vin Diesel          Paul Walker           Jason Statham
5             Leonardo DiCaprio            Tom Hardy            Will Poulter
6         Arnold Schwarzenegger         Jason Clarke           Emilia Clarke
7                    Matt Damon     Jessica Chastain            Kristen Wiig
8                Sandra Bullock             Jon Hamm          Michael Keaton
9                   Amy Poehler        Phyllis Smith            Richard Kind
10                 Daniel Craig      Christoph Waltz            LÃ©a Seydoux
11                   Mila Kunis       Channing Tatum               Sean Bean
12             Domhnall Gleeson      Alicia Vikander             Oscar Isaac
13                 Adam Sandler    Michelle Monaghan          Peter Dinklage
14            Robert Downey Jr.      Chris Hemsworth            Mark Ruffalo
15            Samuel L. Jackson         Kurt Russell    Jennifer Jason Leigh
16                  Liam Neeson      Forest Whitaker            Maggie Grace
17                    Paul Rudd      Michael Douglas        Evangeline Lilly
18                   Lily James       Cate Blanchett          Richard Madden
19            Jennifer Lawrence      Josh Hutcherson          Liam Hemsworth
20              Britt Robertson       George Clooney          Raffey Cassidy
21              Jake Gyllenhaal       Rachel McAdams         Forest Whitaker
22               Dwayne Johnson   Alexandra Daddario            Carla Gugino
23               Dakota Johnson         Jamie Dornan           Jennifer Ehle
24               Christian Bale         Steve Carell            Ryan Gosling
25                   Tom Cruise        Jeremy Renner              Simon Pegg
26                Mark Wahlberg      Seth MacFarlane         Amanda Seyfried
27                Taron Egerton          Colin Firth       Samuel L. Jackson
28                 Mark Ruffalo       Michael Keaton          Rachel McAdams
29                Dylan O'Brien      Kaya Scodelario  Thomas Brodie-Sangster
...                         ...                  ...                     ...
10836                Cary Grant       Samantha Eggar              Jim Hutton
10837            George Peppard          James Mason          Ursula Andress
10838            Burt Lancaster           Lee Marvin             Robert Ryan
10839          Christopher Shea          Sally Dryer         Kathy Steinberg
10840             Michael Caine       Paul Hubschmid           Oskar Homolka
10841             Will Hutchins       Millie Perkins          Jack Nicholson
10842         Sterling Holloway      Junius Matthews         Sebastian Cabot
10843           Charlton Heston     Laurence Olivier         Richard Johnson
10844              James Coburn          Lee J. Cobb              Gila Golan
10845                 Sid James             Jim Dale          Angela Douglas
10846           Christopher Lee      Barbara Shelley             Andrew Keir
10847             Peter Cushing          Edward Judd             Carole Gray
10848              Stephen Boyd         Raquel Welch          Edmond O'Brien
10849             Michael Caine     Shirley MacLaine             Herbert Lom
10850               Paul Newman        Lauren Bacall            Julie Harris
10851          Virginia McKenna         Bill Travers           Geoffrey Keen
10852               Henry Fonda      Joanne Woodward           Jason Robards
10853             Michael Caine      Shelley Winters        Millicent Martin
10854             Marlon Brando           Jane Fonda          Robert Redford
10855                Don Knotts          Joan Staley            Liam Redmond
10856                Dean Jones    Suzanne Pleshette         Charles Ruggles
10857             Steve McQueen          Karl Malden             Brian Keith
10858               Carl Reiner      Eva Marie Saint              Alan Arkin
10859               Rock Hudson          Salome Jens           John Randolph
10860          Kenneth Williams             Jim Dale        Harry H. Corbett
10861            Michael Hynson        Robert August  Lord 'Tally Ho' Blears
10862              James Garner      Eva Marie Saint            Yves Montand
10863  Innokentiy Smoktunovskiy         Oleg Efremov        Georgi Zhzhyonov
10864           Tatsuya Mihashi    Akiko Wakabayashi                Mie Hama
10865          Harold P. Warren           Tom Neyman           John Reynolds

                      actor                 actor
0         Vincent D'Onofrio         Nick Robinson
1            Nicholas Hoult           Josh Helman
2              Ansel Elgort          Miles Teller
3               Adam Driver          Daisy Ridley
4        Michelle Rodriguez        Dwayne Johnson
5          Domhnall Gleeson         Paul Anderson
6              Jai Courtney          J.K. Simmons
7              Jeff Daniels         Michael PeÃ±a
8            Allison Janney          Steve Coogan
9                Bill Hader           Lewis Black
10            Ralph Fiennes       Monica Bellucci
11           Eddie Redmayne         Douglas Booth
12            Sonoya Mizuno         Corey Johnson
13                 Josh Gad           Kevin James
14              Chris Evans    Scarlett Johansson
15           Walton Goggins        DemiÃ¡n Bichir
16            Famke Janssen         Dougray Scott
17              Corey Stoll       Bobby Cannavale
18     Helena Bonham Carter     Holliday Grainger
19          Woody Harrelson       Elizabeth Banks
20          Thomas Robinson           Hugh Laurie
21            Oona Laurence               50 Cent
22            Ioan Gruffudd        Archie Panjabi
23           Eloise Mumford          Victor Rasuk
24                Brad Pitt           Melissa Leo
25         Rebecca Ferguson           Ving Rhames
26            Jessica Barth       Giovanni Ribisi
27            Michael Caine           Mark Strong
28           Liev Schreiber         John Slattery
29       Giancarlo Esposito          Aidan Gillen
...                     ...                   ...
10836         John Standing            Miiko Taka
10837           Jeremy Kemp   Karl Michael Vogler
10838          Woody Strode          Jack Palance
10839           Ann Altieri          Gail DeFaria
10840             Eva Renzi           Guy Doleman
10841          Warren Oates       Charles Eastman
10842         Howard Morris             Hal Smith
10843      Ralph Richardson        Alexander Knox
10844        Edward Mulhare           Benson Fong
10845      Kenneth Williams       Charles Hawtrey
10846      Francis Matthews          Suzan Farmer
10847           Eddie Byrne              Sam Kydd
10848      Donald Pleasence      Arthur O'Connell
10849           John Abbott       Roger C. Carmel
10850           Arthur Hill           Janet Leigh
10851          Peter Lukoye         Omar Chambati
10852             Paul Ford      Charles Bickford
10853          Julia Foster            Jane Asher
10854         E.G. Marshall       Angie Dickinson
10855          Dick Sargent          Skip Homeier
10856        Kelly Thordsen           Parley Baer
10857        Arthur Kennedy     Suzanne Pleshette
10858           Brian Keith             Paul Ford
10859             Will Geer            Jeff Corey
10860             Joan Sims       Charles Hawtrey
10861           Bruce Brown        Chip Fitzwater
10862        ToshirÅ Mifune         Brian Bedford
10863          Olga Aroseva  Lyubov Dobrzhanskaya
10864        John Sebastian        Tadao Nakamaru
10865          Diane Mahree     Stephanie Nielson

[10866 rows x 5 columns]>

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!